<div class="main" id="main">
  <div style="margin-bottom: 20px">
    <h1 style="text-align: center">TOOL FILTER KEYWORD</h1>
  </div>
  <div style="width: 1200px; margin: auto">
    <form style="margin-bottom: 15px">
      <input
        type="file"
        name="file"
        accept=".log"
        (change)="inputfile($event)"
      />
      <input
        class="btn btn-primary"
        type="submit"
        value="Import file"
        name="import_csv"
        (click)="submit()"
      />
      <input
        class="btn btn-danger"
        style="float: right"
        type="submit"
        value="JWT token"
        name="token"
        (click)="token()"
      />
      <div style="display: flex">
        <div>
          <b>From</b>
          <div
            style="
              display: flex;
              width: 190px;
              height: 50px;
              margin-right: 10px;
            "
          >
            <input
              name="time_Start_HH"
              type="text"
              [maxLength]="2"
              [(ngModel)]="time_Start_HH"
              inputMode="numeric"
              placeholder="HH"
              aria-label="Hours"
              class="form-control time_margin"
              autocomplete="off"
            />
            <b class="b_position time_margin">:</b>
            <input
              name="time_Start_MM"
              type="text"
              [maxLength]="2"
              [(ngModel)]="time_Start_MM"
              inputMode="numeric"
              placeholder="MM"
              aria-label="Hours"
              class="form-control time_margin"
              autocomplete="off"
              style="width: 55px"
            />
            <b class="b_position time_margin">:</b>
            <input
              name="time_Start_SS"
              type="text"
              [maxLength]="2"
              [(ngModel)]="time_Start_SS"
              inputMode="numeric"
              placeholder="SS"
              aria-label="Hours"
              class="form-control time_margin"
              autocomplete="off"
            />
          </div>
        </div>
        <div style="margin-right: 10px; position: relative; bottom: -30px">
          <b style="font-size: 20px">-></b>
        </div>
        <div>
          <b>To</b>
          <div
            style="
              display: flex;
              width: 190px;
              height: 50px;
              margin-right: 10px;
            "
          >
            <input
              name="time_End_HH"
              type="text"
              [maxLength]="2"
              [(ngModel)]="time_End_HH"
              inputMode="numeric"
              placeholder="HH"
              aria-label="Hours"
              class="form-control time_margin"
              autocomplete="off"
            />
            <b class="b_position time_margin">:</b>
            <input
              name="time_End_MM"
              type="text"
              [maxLength]="2"
              [(ngModel)]="time_End_MM"
              inputMode="numeric"
              placeholder="MM"
              aria-label="Hours"
              class="form-control time_margin"
              autocomplete="off"
              style="width: 55px"
            />
            <b class="b_position time_margin">:</b>
            <input
              name="time_End_SS"
              type="text"
              [maxLength]="2"
              [(ngModel)]="time_End_SS"
              inputMode="numeric"
              placeholder="SS"
              aria-label="Hours"
              class="form-control time_margin"
              autocomplete="off"
            />
          </div>
        </div>
        <div
          style="
            width: 110px;
            margin-left: 20px;
            position: relative;
            bottom: -27px;
          "
        >
          <button class="btn btn-primary" type="button" (click)="filter_time()">
            filter
          </button>
        </div>
      </div>
    </form>
    <div>
      <table class="table table-warning">
        <thead>
          <tr>
            <th class="key">Keyword</th>
            <td class="key">Total .ERROR</td>
            <td class="key">REQUEST_ERROR</td>
            <td class="key">TOKEN_ERROR</td>
            <td class="key">file_put_contents</td>
            <td class="key">deadlock</td>
            <td class="key">Maximum execution time</td>
            <td class="key">User_id</td>
            <td class="key">Other</td>
            <td class="key">button</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="key">Total</th>
            <td class="key">{{ Total_Key_error }}</td>
            <td class="key">{{ keyRequestError }}</td>
            <td class="key">{{ keyTokenError }}</td>
            <td class="key">{{ keyFile_put_content }}</td>
            <td class="key">{{ keyDeadlock }}</td>
            <td class="key">{{ keyMaximum }}</td>
            <td class="key">{{ TotalUserID }}</td>
            <td class="key">{{ keyOther }}</td>
            <td class="key"><button [cdkCopyToClipboard]="copyInput" (click)="copy()" class="btn btn-warning">Copy</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="width: 700px; margin: auto">
    <b style="color: red">total keywords: {{ lengthKey }}</b>
    <b style="color: red; float: right">total all keywords: {{ lengthArr }}</b>
    <div style="display: flex; margin-bottom: 20px">
      <table class="table table-warning table-hover">
        <thead>
          <tr>
            <th>Keyword</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of key">
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
      <table
        class="table table-warning table-hover"
        style="text-align: center; width: 30%"
      >
        <thead>
          <tr>
            <th>total keyword</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of value">
            <td>{{ item }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <div class="loading" id="loading"></div>
</div>
